.card {
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  font: inherit;
  border-radius: 0.8rem;
  box-shadow: 0 1px 5px rgb(97, 59, 94);
}
